.filters {
  display: flex;
  align-items: center;
  padding: 0;

  border: none;

  input:checked + .filters__button {
    background-color: var(--bg-medium);
  }
}

.filters__button {
  padding: 0 0.5em;

  color: var(--font-medium);
  font-size: 0.75em;
  line-height: 2;

  border-radius: 2em;

  transition: background-color 100ms ease-out;
  cursor: pointer;
}

.filters__clear {
  display: inline-block;
  margin-left: auto;

  color: var(--font-medium);
  font-size: 0.75em;
  line-height: 2;

  background-color: transparent;
  border: none;
  border-radius: 2em;

  transition: background-color 100ms ease-out;
  cursor: pointer;
}

.filters__clear:active {
  background-color: var(--bg-medium);
}
