.footer {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0.875em 2em;

  background-color: var(--bg-light);
}

.footer__info {
  position: absolute;
  top: -1.25em;
  left: 50%;

  color: var(--font-light);
  font-size: 0.75em;
  text-align: center;

  background-color: transparent;
  transform: translateX(-50%);
}

.footer__count {
  margin-right: 1em;

  color: var(--font-light);
  font-size: 0.75em;

  span {
    display: inline-block;
    min-width: 1ch;
  }
}

.footer__filters {
  flex-grow: 1;
}
