.header {
  padding: 1.875em;
}

.header__day {
  display: block;

  color: var(--font-dark);
  font-size: 2.1875em;
  font-weight: 700;
  text-align: center;

}
.header__date {
  display: block;

  color: var(--font-dark);
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}
