.tasks {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow: auto;
}

.tasks__wrapper {
  padding: 0 1em;

  overflow: auto;
}

.tasks__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
