.task {
  display: flex;
  align-items: center;

  margin: 0.7em 0;
  padding: 0 1em;

  background-color: var(--bg-light);
  border-radius: 2em;
  opacity: 0;
}

.task__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5625em;
  height: 1.5625em;
  margin-right: 0.625em;

  background-color: var(--bg-medium);
  border-radius: 50%;

  cursor: pointer;

  svg {
    width: 0.9375em;
    height: auto;

    fill: var(--bg-medium);
  }
}

.task__text {
  flex: 1 0 auto;

  input {
    width: 100%;

    color: var(--font-dark);
    font-size: 1.25em;
    line-height: 2.5;

    background-color: transparent;
    border: none;

    cursor: default;
    user-select: none;
  }
}

.task__delete {
  display: none;
  align-items: center;
  justify-content: center;

  width: 1.5625em;
  height: 1.5625em;
  margin-left: 0.625em;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  svg {
    width: 70%;
    height: auto;
    fill: var(--bg-medium);
  }
}

.task--completed {
  background-color: transparent;

  .task__checkbox {
    cursor: default;

    svg {
      fill: var(--font-light);
    }
  }

  input {
    color: var(--font-light);
  }
}

.task--edit {

  .task__text {
    input {
      cursor: text;
      user-select: text;
    }
  }

  .task__delete {
    display: flex;
  }
}
