.fade-in-left {
  animation: 200ms fade-in-left ease-out forwards;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate(-10%, -10%)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

.fade-in-right {
  animation: 200ms fade-in-right ease-out forwards;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(30%)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.fade-out-right {
  animation: 200ms fade-out-right ease-out forwards;
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0)
  }

  100% {
    opacity: 0;
    transform: translateX(20%)
  }
}

.fade-out-left {
  animation: 200ms fade-out-left ease-out forwards;
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
    transform: translate(0, 0)
  }

  100% {
    opacity: 0;
    transform: translate(-10%, -10%)
  }
}
